<% content_for(:title, "New user sign-up | Made in Wichita") %>

<h1>Sign up</h1>
<p>Create a new users account to add products, set up a store profile or set up an artist profile.</p>

<%= render 'form' %>