<% content_for(:title, "Wichita-friendly vendors | Made in Wichita") %>

<h1>Vendors</h1>

<ul>
  <% @vendors.each do |vendor| %>
    <li><a href="/vendors/<%= vendor.id %>"><%= vendor.name %></a></li>
  <% end %>
</ul>

<%= link_to "New vendor", new_vendor_path, :class=> "btn btn-default" %>