<% content_for(:title, "Wichita-made products | Made in Wichita") %>

<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
  <% end %>
</ul>

<%= link_to "New product", new_product_path, :class=> "btn btn-default" %>